*{
    box-sizing: border-box; /*no crece mas alla del tamaño*/
    /*margin: 0; le saca el margen a todo*/
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0; /*margen*/
}


/*hasta aca estan definida los estilos  generales de la web*/

.container{
    max-width: 1400px; /*margen maximo*/
    margin: auto; /*margenes automaticos*/
}

header{
    background: linear-gradient(-45deg, #eca38c, #ebe486, #94eb91, #f3f0ed); 
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

header .logo{
    margin: 0;
    padding: 25px;
    font-weight: bold;
    color: rgb(43, 144, 226);
    font-size: 1.35em;
}

header .container{
    display: flex;
    flex-direction: column; /*se ordenan en una columna*/
    align-items: center;   
}


header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(43, 144, 226);
}

div h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    color: grey;
}

.packages{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 110vh;
    align-items: baseline; /*centra en la mitad de la pantalla*/
}

#hero{
    display: flex;
    align-items: right;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0),
        rgba(0,0,0,0)
    )
    ,url("../img/paquetes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}


.packages .promocion{
    background-color: rgb(222, 178, 213, 0.5);

    color: rgb(59, 61, 71);
    margin: 10px;
    height: 300px;
    width: 150px;
    min-width: 120px;
    text-align: center;
    border-radius: 5px;
    flex-grow: 1;
    padding: 10px 5px 5px 5px;
    
}

.packages .promocion:hover{
    background-color: rgb(212, 203, 165, 0.5) ;
    color: rgb(227, 230, 233);
}


.promocion {
    font-size: 20px;
    font-weight: bold;
}

footer {
    background: linear-gradient(-45deg, #eca38c, #ebe486, #94eb91, #f3f0ed); 
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#content-footer .logo-footer{
    margin-left: 20px;
}

footer .redes{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


footer p{
    margin: 0;
    padding: 12px;
    color: rgb(10, 60, 224);
}




/*Version para escritorio*/

@media (min-width: 720px){

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
    }

    #destinos .container {
        margin-left: 30px;
        width: 1200px;
        height: 400px;
        flex-wrap: wrap;
    } 

    .flex-container{
        height: 50vh;
        
     }
    .packages{
        height: 70vh;
    }
}
    